
<div class="onecode-padding-16px">

 <mat-divider></mat-divider>
  <mat-card>
      <button  mat-raised-button color="primary" (click)="generateXmlZipFile()">Decompress(xml) and Generate ZipFile</button>
      <br/>
    <br/>
    Overall this function (implented in api) read the compressed xml file and decompress it.
    If the assigned zip file size is exceed limit (ex: 1Mb) then it will create individual zip file
    as per size and club it into single zip file. <br/> So in one single zip file you will find another zip files
    as per size mention.
    UI will get data in byte array... and generate a single zip file
     Else, the final zip file contain plain xml files.
  </mat-card>
</div>
