.sub-container {
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #c2c3c4;
}

.side-nav {
  position: absolute;
  left: 0;
  right: 90%;
  background: #888888;
}

.align-content-right-most {
  align-items: center;
}

.example-spacer {
  flex: 1 1 auto;
}

.sub-menu {
  position: absolute;
  top:0;
  left: 60px;
  right: 0;
  bottom: 5px;
  background-color: transparent;

}
