
.center-border {
  border: 2px solid white;
}

.card-container {
  max-width: 300px;
  color: white;
}

.center-login {
  margin: 0;
  position: absolute;
  font-size: large;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
