/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



/* MARGIN */

.onecode-margin-0 {
  margin: 0;
}

.onecode-margin-top-0-important {
  margin-top: 0 !important;
}

.onecode-margin-5px {
  margin: 5px;
}

.onecode-margin-10px {
  margin: 10px;
}

.onecode-margin-16px {
  margin: 16px;
}

.onecode-margin-20px {
  margin: 20px;
}

.onecode-margin-25px {
  margin: 25px;
}

.onecode-margin-30px {
  margin: 30px;
}

/* MARGIN TOP */
.onecode-margin-top-4px {
  margin-top: 4px;
}

.onecode-margin-top-5px {
  margin-top: 5px;
}

.onecode-margin-top-8px {
  margin-top: 8px;
}

.onecode-margin-top-10px {
  margin-top: 10px;
}

.onecode-margin-top-15px {
  margin-top: 15px;
}

.onecode-margin-top-16px {
  margin-top: 16px;
}

.onecode-margin-top-20px {
  margin-top: 20px;
}

.onecode-margin-top-25px {
  margin-top: 25px;
}

.onecode-margin-top-30px {
  margin-top: 30px;
}

.onecode-margin-top-40px {
  margin-top: 40px;
}

.onecode-margin-top-minus-10px {
  margin-top: -10px;
}

/* MARGIN RIGHT */
.onecode-margin-right-0 {
  margin-right: 0;
}
.onecode-margin-right-3px {
  margin-right: 3px;
}

.onecode-margin-right-5px {
  margin-right: 5px;
}

.onecode-margin-right-8px {
  margin-right: 8px;
}

.onecode-margin-right-10px {
  margin-right: 10px;
}

.onecode-margin-right-16px {
  margin-right: 16px;
}

.onecode-margin-right-20px {
  margin-right: 20px;
}

.onecode-margin-right-25px {
  margin-right: 25px;
}

.onecode-margin-right-30px {
  margin-right: 30px;
}

.onecode-margin-right-60px {
  margin-right: 60px;
}

/* MARGIN BOTTOM */

.onecode-margin-bottom-2px {
  margin-bottom: 2px;
}

.onecode-margin-bottom-5px {
  margin-bottom: 5px;
}

.onecode-margin-bottom-8px {
  margin-bottom: 8px;
}

.onecode-margin-bottom-10px {
  margin-bottom: 10px;
}

.onecode-margin-bottom-15px {
  margin-bottom: 15px;
}

.onecode-margin-bottom-16px {
  margin-bottom: 16px;
}

.onecode-margin-bottom-20px {
  margin-bottom: 20px
}

.onecode-margin-bottom-25px {
  margin-bottom: 25px
}

.onecode-margin-bottom-30px {
  margin-bottom: 30px
}

.onecode-margin-bottom-0 {
  margin-bottom: 0;
}

/* MARGIN LEFT */
.onecode-margin-left-1px {
  margin-left: 1px;
}

.onecode-margin-left-5px {
  margin-left: 5px;
}

.onecode-margin-left-8px {
  margin-left: 8px;
}

.onecode-margin-left-10px {
  margin-left: 10px;
}

.onecode-margin-left-15px {
  margin-left: 15px;
}

.onecode-margin-left-16px {
  margin-left: 16px;
}

.onecode-margin-left-20px {
  margin-left: 20px;
}

.onecode-margin-left-25px {
  margin-left: 25px;
}

.onecode-margin-left-30px {
  margin-left: 30px;
}

.onecode-margin-left-minus-15px {
  margin-left: -15px;
}

/* PADDING */
.onecode-padding-0 {
  padding: 0;
}

.onecode-padding-2px {
  padding: 2px;
}

.onecode-padding-5px {
  padding: 5px;
}

.onecode-padding-10px {
  padding: 10px;
}

.onecode-padding-16px {
  padding: 16px;
}

.onecode-padding-30px {
  padding: 30px;
}

/* PADDING TOP */

.onecode-padding-top-0 {
  padding-top: 0;
}

.onecode-padding-top-0-important {
  padding-top: 0 !important;
}

.onecode-padding-top-2px {
  padding-top: 2px;
}

.onecode-padding-top-3px {
  padding-top: 3px;
}

.onecode-padding-top-5px {
  padding-top: 5px;
}

.onecode-padding-top-8px {
  padding-top: 8px;
}

.onecode-padding-top-10px {
  padding-top: 10px;
}

.onecode-padding-top-16px {
  padding-top: 16px;
}

.onecode-padding-top-12px {
  padding-top: 12px;
}

.onecode-padding-top-20px {
  padding-top: 20px;
}

.onecode-padding-top-30px {
  padding-top: 30px;
}

/* PADDING RIGHT */

.onecode-padding-right-0 {
  padding-right: 0;
}

.onecode-padding-right-0-important {
  padding-right: 0 !important;
}

.onecode-padding-right-2px {
  padding-right: 2px;
}

.onecode-padding-right-5px {
  padding-right: 5px;
}

.onecode-padding-right-8px {
  padding-right: 8px;
}

.onecode-padding-right-10px {
  padding-right: 10px;
}

.onecode-padding-right-15px {
  padding-right: 15px;
}

.onecode-padding-right-16px {
  padding-right: 16px;
}

.onecode-padding-right-20px {
  padding-right: 20px;
}

.onecode-padding-right-30px {
  padding-right: 30px;
}

/* PADDING BOTTOM */

.onecode-padding-bottom-8px {
  padding-bottom: 8px;
}


.onecode-padding-bottom-3px {
  padding-bottom: 3px;
}


.onecode-padding-bottom-4px {
  padding-bottom: 4px;
}

.onecode-padding-bottom-5px {
  padding-bottom: 5px;
}


.onecode-padding-bottom-7px {
  padding-bottom: 7px;
}

.onecode-padding-bottom-8px {
  padding-bottom: 8px;
}

.onecode-padding-bottom-10px {
  padding-bottom: 10px;
}

.onecode-padding-bottom-16px {
  padding-bottom: 16px;
}

.onecode-padding-bottom-12px {
  padding-bottom: 12px;
}

.onecode-padding-bottom-20px {
  padding-bottom: 20px;
}

.onecode-padding-bottom-25px {
  padding-bottom: 25px;
}

/* PADDING LEFT */

.onecode-padding-left-0 {
  padding-left: 0;
}

.onecode-padding-left-0-important {
  padding-left: 0 !important;
}

.onecode-padding-left-5px {
  padding-left: 5px;
}

.onecode-padding-left-8px {
  padding-left: 8px;
}

.onecode-padding-left-10px {
  padding-left: 10px;
}

.onecode-padding-left-12px {
  padding-left: 12px;
}

.onecode-padding-left-13px {
  padding-left: 13px;
}

.onecode-padding-left-15px {
  padding-left: 15px;
}

.onecode-padding-left-16px {
  padding-left: 16px;
}

.onecode-padding-left-20px {
  padding-left: 20px;
}

.onecode-padding-left-25px {
  padding-left: 25px;
}

.onecode-padding-left-30px {
  padding-left: 30px;
}

.onecode-padding-left-60px {
  padding-left: 60px;
}

.onecode-padding-left-43px {
  padding-left: 43px;
}

.onecode-padding-left-0 {
  padding-left: 0;
}

/* You can add global styles to this file, and also import other style files */
a { cursor: pointer }


/* enable or disable the control */

%cpm-disabled {
  opacity: 0.6;
  pointer-events: none;
}

.cpm-content-disabled {
  @extend %cpm-disabled;
}
