
.product-example-sub-container {
  height: 300px;
  overflow: auto;
}

.product-example-container {
 width: 50%;
}

table {
  width: 100%;
  border: 1px solid gray;
}

th.mat-sort-header-sorted {
  color: black;
}

/*th,td {
  border: 1px solid gray;
}*/

table.a {
  border: 1px solid black;
  table-layout: auto;
  width: 180px;
}

th.a,td.a {
  border: 1px solid gray;
}
