
<div class="onecode-padding-left-43px">
  <div class="onecode-border-div">
    <mat-form-field class="onecode-padding-left-13px" appearance="standard">
      <mat-label>Product Name</mat-label>
      <input  matInput placeholder="Placeholder"   [(ngModel)]="product.name" >
    </mat-form-field>
    <br/>
    <mat-form-field  class="onecode-padding-left-13px" appearance="standard">
      <mat-label>Product Description</mat-label>
     <input matInput placeholder="Placeholder"  [(ngModel)]="product.description">
     </mat-form-field>
    <br/>
   <mat-checkbox class="onecode-padding-top-20px onecode-padding-left-13px"  [(ngModel)]="product.active">Active</mat-checkbox>
    <br/>
    <br/>
    <mat-divider></mat-divider>
    <!-- save functionality -->
    <div  class="onecode-padding-top-30px onecode-padding-left-13px">
      <button mat-fab color="primary"  (click)="saveProduct()">
        <mat-icon>save</mat-icon>
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-fab color="primary"  (click)="saveProductList()">List
        <mat-icon>save</mat-icon>
      </button>
    </div>

  </div>
</div>


<div class="onecode-padding-30px">
  <button  mat-raised-button color="primary"  (click)="goBack()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
</div>
